@use "@styles/main";

.h5p-discrete-option-multi-choice {
  background-color: main.$color-background;
  color: main.$color-text;

  .h5p-question-introduction.display-none {
    display: none;
  }

  .h5p-discrete-option-multi-choice-message {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
  }
}
